@model IEnumerable<SmartMart3.Models.cProduct>
<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Sale</title>
</head>
<body>
    <div>
        <header>Smart mart - Sale</header>
        <ul>
        <h3><li><a href="@Url.Content("~/Home/Index")">Home</a></li>
        <li><a href="@Url.Content("~/Cart/Cart")">Cart</a></li>
        <li><a href="@Url.Content("~/Home/MakeOrder")">Make a new order</a></li></h3>
         
        <hca><li><a>@{Html.RenderAction("CategoryList", "Store");}</a></li></hca>
     </ul>         
    </div>
    <table>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Product name
        </th>
        <th>
            Quantity
        </th>
        
        <th>
            Total
        </th>
        <th></th>
    </tr>
    @{
        int ntotal = 0;
    }
@foreach (var item in SmartMart3.Models.SaleEntities.sample.cproduct)
{
    <tr>
    <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.cost)
            @{ntotal = ntotal + item.cost;
                    }
        </td>
        <td>
            @Html.ActionLink("Remove", "Remove","Cart", new { name=item.Name },"")
        </td>
    </tr>
}

</table>
        
        <p>Total cost: @ntotal.ToString()</p>
        <p4>@Html.ActionLink("Check out", "CheckOut", "Cart")</p4>
</html>