
  
<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Sale</title>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        <header>Smart mart - Sale</header>
        <ul>
        <h3><li><a href="@Url.Content("~/Home/Index")">Home</a></li>
        <li><a href="@Url.Content("~/Cart/Cart")">Cart</a></li>
        <li><a href="@Url.Content("~/Home/MakeOrder")">Make a new order</a></li></h3>
         
        <hca><li><a>@{Html.RenderAction("CategoryList", "Store");}</a></li></hca>
     </ul>         
    </div>
    <table>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Product name
        </th>
        <th>
            Quantity
        </th>
        
        <th>
            Total
        </th>
        <th></th>
    </tr>
    @{
        int ntotal = 0;
    }
@foreach (var item in SmartMart3.Models.SaleEntities.sample.cproduct)
{
    <tr>
    <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.cost)
            @{ntotal = ntotal + item.cost;
              
             }
        </td>
    </tr>
}

</table>
        @SmartMart3.Models.SaleEntities.sample.order[SmartMart3.Models.SaleEntities.sample.OrderCount - 1].TotalPrice = ntotal;
        <p>Total cost: @ntotal.ToString()</p>

@model SmartMart3.Models.Order
        @using (Html.BeginForm())
        {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>cProduct</legend>

        <div class="editor-label">           
            Customer Id: 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerId)
            @Html.ValidationMessageFor(model => model.CustomerId)
            
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Score)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </div>
        <p>
            <input type="submit" value="Confirm" />
        </p>
    </fieldset>
}
</html>