@model IEnumerable<SmartMart3.Models.Product>

@{
    ViewBag.Title = "ViewList - Category";
}
<header>Smart mart solution - Category detail</header>
<h2>ViewList</h2>
<li><a>@{Html.RenderAction("CategoryList", "Store");}</a></li>
<p>
    <li><a href="@Url.Content("~/Home/Index")">Home</a></li>
</p>
<table>
    <tr>
        <th>
            Product name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
             <div class="editor-field">
                @Html.TextBoxFor(modelItem => item.nQuantity)

            </div>
        </td>
        <td>
            @Html.ActionLink("Add to cart", "AddToCart","Cart", new { Id=item.Id },"")
        </td>
    </tr>
}

</table>
