@model IEnumerable<SmartMart3.Models.cProduct>
<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Sale</title>
</head>
<body>
    <div>
        <header>Smart mart - Sale</header>
        <ul>
        <li><a href="@Url.Content("~/Home/Index")">Home</a></li>
        <li><a href="@Url.Content("~/Cart/Cart")">Cart</a></li>
     </ul>         
    </div>
    <table>
    <tr>
        <th>
            Product name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Order ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.ActionLink("Add to cart", "AddToCart","Cart", new { Id=item.OrderId },"")
        </td>
    </tr>
}

</table>

</html>