@{
    Layout = null ;
}


<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>home page</title>
</head>
<body>
    <div>
    <header>Smart mart solution - Home page</header>   
     <ul id="navlist">               
            <li><a>@SmartMart3.Models.SaleEntities.sample.getCurrentAccount()</a></li>
            <li class="first"><a href="@Url.Content("~")" id="current">Sign Out</a></li>  
        </ul>   
     <ul>
        <h3>
        <li><a href="@Url.Content("~/Home/Index")">Home</a></li> 
        <li><a href="@Url.Content("~/Cart/Cart")">Cart</a></li> 
        <li><a href="@Url.Content("~/Cart/MakeOrder")">Make a new order</a></li> 
        </h3>

        <hca><li><a>@{Html.RenderAction("CategoryList", "Store");}</a></li></hca>
        
        
        
        
      
     </ul>     
    </div>
   
   </body>
</html>
